<div class="container-fluid">
    <div class="card">
        <div class="content">
            <div class="row">
                <div class="col-xs-10">
                    <div class="numbers text-left">
                        <p>WeatherApp</p>
                        Örnek Hava Durumu Uygulaması
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="icon-big icon-warning text-center">
                        <i class="ti-shine"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>